# IDE / Agent Settings
.agents/
.vscode/
.idea/

# System files
Thumbs.db
Desktop.ini
.DS_Store

# Backups and previous code
codigo-previo/

# Dependencies & Binaries
node_modules/
*.exe

# Cloudflare Wrangler cache
.wrangler/

